@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    
    background-color: black;
    font-family: Montserrat;
}

.time{
    margin-top: 50px;
    text-align: center;
    width: 700px;
    color: white;

    margin-left: 30%;
    margin-bottom: 30px;
}

#HH{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 0%;
    padding: 0%;
   
   
}

.hr{
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 50%;
 margin-left: 25%;margin-top: 0%;
}
.back{
    color: black;
    width: 60%;
    margin-left: 25%;
    background-color: white;
}

#start
{
padding-left: 70px;
padding-right: 70px;
font-size: 25px;
color: white;
background-color: black;
font-family: Montserrat;
}


#reset
{
padding-left: 67px;
padding-right: 67px;
font-size: 25px;
font-family: Montserrat;

color:black;
margin-bottom: 20px;
border: solid 1px;
}
h1{
    margin-left: 50px;
}